Serious.Users/.vs/config/applicationhost.config
Serious.Users/.vs/Serious.Users/v14/.suo
Serious.Users/Serious.Users/bin/Serious.Users.dll
Serious.Users/Serious.Users/bin/Serious.Users.pdb
Serious.Users/Serious.Users/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Serious.Users/Serious.Users/obj/Debug/Serious.Users.csproj.FileListAbsolute.txt
Serious.Users/Serious.Users/obj/Debug/Serious.Users.csprojResolveAssemblyReference.cache
Serious.Users/Serious.Users/obj/Debug/Serious.Users.dll
Serious.Users/Serious.Users/obj/Debug/Serious.Users.pdb
Serious.Users/Serious.Users/bin
Serious.Users/Serious.Users/obj
